<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid justify-content-start">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu"></i></button>
        </div>
        <!-- logo -->
        <div class="navbar-brand">
            <a href="">ITS Voice</a>
        </div>
        <!-- end logo -->
        <div class="navbar-right"></div>
    </div>
</nav>
